<%= form_with scope: :comment, url: [@post, @post.comments.build] do |f| %>
    <div>
      <%= f.hidden_field :user_id, value: current_user.id %>
    </div>
    <div>
      Text: <%= f.text_area :body %>
    </div>

    <%= f.submit %>
<% end %>
