<div class="container">
	<p id="notice"><%= notice %></p>

	<%= link_to 'New Post', new_post_path, class: "btn btn-primary" %><br>

	<% if @user.avatar.attached? %>
	<%= image_tag @user.avatar, size: 250 %>
	<% end %>
	<h1><%= @user.name %></h1><br>
	<p><%= @user.email %></p>

	<% if current_user.id != @user.id %>
		<% if Follower.where(user_id: current_user).exists? %>
			<%= link_to 'Unfollow', unfollow_path(@user), class: 'btn btn-sm btn-info' %>
		<% else %>
			<%= link_to 'Following', follow_path(@user), class: 'btn btn-sm btn-info' %>
		<% end %>
	<% end %>

	<h1>My Posts</h1>

	<table>
		<thead>
			<tr>
				<th>Title</th>
				<th>Images</th>
				<th colspan="3"></th>
			</tr>
		</thead>

		<tbody>
			<% @user.posts.each do |post| %>
			<tr>
				<td><%= post.title %></td>
				<td>
					<% if post.images.attached? %>
					<% post.images.each do |image| %>
					<%= image_tag image, size: 300 %>
					<% end %>
					<% end %>
				</td>
				<td><%= link_to 'Show', post %></td>
				<td><%= link_to 'Edit', edit_post_path(post) %></td>
				<td><%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %></td>
			</tr>
			<% end %>
		</tbody>
	</table>

	<br>

</div>

