<p id="notice"><%= notice %></p>
<div class="container">
  <h1>All Posts</h1>


  <div>
    <% @posts.each do |post| %>
    
        <p><b>Title:</b><%= link_to post.title, post_path(post.id), class: 'btn btn-warning' %></p>
        <p>
          <% if post.images.attached? %>
            <% post.images.each do |image| %>
            <%= image_tag image, size: 300 %>
            <% end %>
          <% end %>
        </p>
        <p><b>User:</b><%= link_to post.user.name, user_path(post.user), class: 'btn btn-success' %></p>

      <% if user_signed_in? %>   
        <% pre_like = post.likes.find { |like| like.user == current_user} %>
        <% if pre_like %>
          <%= button_to 'Unlike', post_like_path(post, pre_like), method: :delete %>
          <% else %>
          <%= button_to 'Like', post_likes_path(post), method: :post %>
        <% end %>
      <% end %>

      <p><%= post.likes.count %> <%= (post.likes.count) == 1 ? 'Like' : 'Likes'%></p>

    <% end %>

  </div>
  

</div>


