<p id="notice"><%= notice %></p>

<p>
	<strong>Title:</strong>
	<%= @post.title %>
</p>
<p>
<% if @post.images.attached? %>
	<% @post.images.each do |image| %>
	<%= image_tag image, size: 300 %>
	<% end %>
	<% end %>
</p>

<p>
	<strong>User:</strong>
	<%= @post.user.name%>
</p>
<% if current_user.id == @post.user.id %>
<%= link_to 'Edit', edit_post_path(@post) %> 
<% end %>

<h2><%= link_to 'Comments', '#', id: 'comments-link' %></h2>
<div id="comment-section">
	<ol id="comments">
		<%= render @post.comments %>
	</ol>

	<h3>Add a comment:</h3>
	<%= render 'comments/form' %>
</div>
